<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<button ng-click="addNewRow()">add</button>

<table ng-form="subForm">
    <tr>
        <th>Library</th>
        <th>Version Specifier</th>
        <th>Version</th>
        <th>full Version</th>
        <th>Action</th>

    </tr>
    <tr ng-repeat="version in Result">
        <!-- <td ng-if="version.library">{{version.library}}</td> -->
        <td>
            <input type="text" ng-change="libraryTextChange(version.id,library)" ng-model="library" required
                ng-init="library=version.library" />
        </td>
        <td><select ng-init="selectedVesrionSpecifier=version.versionSpecifier"
                ng-change="specifierChange(version.id,selectedVesrionSpecifier)" ng-model="selectedVesrionSpecifier"
                class="form-control">
                <option ng-repeat="specifier in versionSpecifiers" value="{{specifier.symbol}}">
                    {{specifier.symbol}}({{specifier.definition}})
                </option>
            </select></td>
        <td>

            <input type="text" ng-change="versionChange(version.id,modifiedVersion)" ng-model="modifiedVersion" required
                ng-pattern="regex" ng-init="modifiedVersion=version.ver"
                data-ng-style="(version.isValid !== true) ? {'border-color': 'red'}: {}" />


        </td>
        <td>{{version.fullVersion}}</td>
        <td><button ng-click="deleteRow()">delete</button></td>
    </tr>

</table>


<button ng-click="save()">save and validate</button>

<!-- 

{{Result}}
{{subForm.$valid}} -->